*.lib
*.pyc
*.tmp
dev/*
bin/*
src/generated/*.interp
src/generated/*.tokens
src/generated/java/
.vs
build
src/external/antlr4*
src/external/boost*
/src/.antlr/azslLexer.interp
/src/.antlr/azslLexer.java
/src/.antlr/azslLexer.tokens
/src/.antlr/azslParser.interp
/src/.antlr/azslParser.java
/src/.antlr/azslParser.tokens
/tests/testfuncs.pyc